html{
    font-family: helvetica;
    background: black; 
}

.container{
    max-width: 1100px;
    background: #fff;
    position: relative;
    margin: 50px auto;
    padding: 25px 50px;
}

.bold{
    font-weight: bold;
}

.header{
    text-align: center;
}

.main_title{
    font-size: 40px;
    font-family: fantasy;

}

.main_p{
    font-style: italic;
    font-family: fantasy;
}

.img_feat{
    text-align: center;
    margin-top: 30px;
}

.bio_container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.quotes_container{
    background-color: #ddd;
    padding: 30px;
}

.quotes_container blockquote{
    font-weight: bold;
    font-size: 30px;
}

.curious_container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}
.curious_container li{
    height: 30px;
}

.img_2{
    font-weight: bold;
    text-align: center;

}